<html>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ block "title" . }}
    {{ .Site.Title }}
  {{ end }}</title>
  {{ $css := resources.Get "/css/index.css" | fingerprint "md5" }}

  <link rel="stylesheet" type="text/css" href="{{ $css.Permalink }}" />

  </head>
  <body class="mb-12">
  <nav>
    <div class="container mx-auto py-4 text-2xl">
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <a href="/" class="flex items-center">
            <img src="/logo.svg" alt="Logo" class="h-28 lg:h-48">
          </a>
        </div>
        <div class="flex items-center font-extrabold">
          <a href="/" class="block hover:text-gray-500 focus:outline-none focus:text-gray-500">
            home
          </a>
          <a href="/adaptive-reuse" class="ml-4 block hover:text-gray-500 focus:outline-none focus:text-gray-500">
            adaptive reuse
          </a>
          <a href="/transitional-house" class="ml-4 block hover:text-gray-500 focus:outline-none focus:text-gray-500">
            transitional house
          </a>
          <a href="/education" class="ml-4 block hover:text-gray-500 focus:outline-none focus:text-gray-500">
            education
          </a>
        </div>
      </div>
    </div>
  </nav>
    <!-- Code that all your templates share, like a header -->
  

    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    {{ block "footer" . }}
        <h2 class="text-center">join us</h2>
        <section class="w-full px-4 text-center mx-auto lg:max-w-2xl">
        <p>If your institution, company or press identifies with the aims and activities of our project you can participate as our sponsor</p>
          <div class="block flex justify-center mt-4">
            <a href="mailto:contact@projectsaferefuge.com" class="p-2 px-6 border-2 border-black rounded-xl">contact@projectsaferefuge.com</a>
          </div>
        </section>
  <hr class="m-8 border-gray-400" />
  <p class="text-center text-sm text-gray-400">&copy; 2022 All rights reserved</p>
  {{ end }}




  </body>
</html>

