<html>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ block "title" . }}
    {{ .Site.Title }}
  {{ end }}</title>
  {{ $css := resources.Get "/css/index.css" | fingerprint "md5" }}

  <link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}" />

  </head>
  <body class="mx-60 mb-12">
  <nav>
    <div class="container mx-auto p-4 text-xl md:text-2xl">
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <a href="/" class="flex items-center">
            <img src="/logo.svg" alt="Logo" class="h-28 lg:h-48">
          </a>
        </div>
        <div class="flex justify-end  flex-1 flex-col md:flex-row font-extrabold">
          <a href="https://supporttudelft.nl/project/safe-refuge" class="ml-6 block hover:bg-black hover:text-white px-6 border-2 border-black rounded-xl">
            donate
          </a>
          <a href="/adaptive-reuse" class="ml-6 block hover:text-gray-500 focus:outline-none focus:text-gray-500">
            adaptive reuse
          </a>
          <a href="/transitional-house" class="ml-6 block hover:text-gray-500 focus:outline-none focus:text-gray-500">
            transitional house
          </a>
          <a href="/education" class="ml-6 block hover:text-gray-500 focus:outline-none focus:text-gray-500">
            education
          </a>
          <a href="/our-team" class="ml-6 block hover:text-gray-500 focus:outline-none focus:text-gray-500">
            our team
          </a>
        </div>
      </div>
    </div>
  </nav>

    {{ block "main" . }}
    {{ end }}
    {{ block "footer" . }}

  <hr class="m-8 border-gray-400" />
  <p class="text-center text-sm text-gray-400">&copy; 2022 All rights reserved</p>
  {{ end }}
  </div>
  </body>
</html>

