<html>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ block "title" . }}
    {{ .Site.Title }}
  {{ end }}</title>
  {{ $css := resources.Get "/css/index.css" | fingerprint "md5" }}

  <link rel="stylesheet" type="text/css" href="{{ $css.Permalink }}" />

  </head>
  <body>
  <nav>
    <div class="container mx-auto py-4">
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <a href="/" class="flex items-center">
            <img src="/logo.svg" alt="Logo" class="h-28 lg:h-48">
          </a>
        </div>
        <div class="flex items-center font-extrabold">
          <a href="/" class="block hover:text-gray-900 focus:outline-none focus:text-gray-900">
            home
          </a>
          <a href="/adaptive-reuse" class="ml-4 block hover:text-gray-900 focus:outline-none focus:text-gray-900">
            adaptive reuse
          </a>
          <a href="/transitional-house" class="ml-4 block hover:text-gray-900 focus:outline-none focus:text-gray-900">
            transitional house
          </a>
          <a href="/education" class="ml-4 block hover:text-gray-900 focus:outline-none focus:text-gray-900">
            education
          </a>
        </div>
      </div>
    </div>
  </nav>
    <!-- Code that all your templates share, like a header -->
  

    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    {{ block "footer" . }}
    <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
    {{ end }}




  </body>
</html>

