{{ define "main" }}
<main class="mx-8 mt-8 text-justify">

    <div class="grid grid-cols-2 gap-16 mb-16">
        <div>
            <section>
            <h2>Our mission</h2>
            <p>In a crisis situation, an immediate response is necessary but strategic ideas and long-term vision are of no
                less importance. We focus our efforts on the housing solutions which are urgently needed now and will
                continue to be necessary long term. Our goal is to provide valuable designer assistance to European
                cities which face serious challenges related to the fastest-growing refugee crisis since WW2.</p>
            </section>
        </div>
        <div>
            <section>
                <h2>About us</h2>
                <p>The initiative brings together young designers committed to proposing systemic solutions in response to the
                    war in Ukraine and the humanitarian crisis in the countries hosting refugees, especially in Poland. In the
                    first week of our operation, 30 architects, professionals, researchers and graduate students from 15
                    countries joined forces to address the long-term consequences of the war. </p>
            </section>
        </div>
    </div>
    <div class="flex justify-between">
        <a href="/adaptive-reuse/" class="border-2 border-black rounded-md p-2 lg:py-24 w-1/3 mr-1 md:mr-4 flex justify-center">
            <img src="/adaptive-reuse.svg" class="lg:h-24"/>
        </a>
        <a href="/transitional-house/"
           class="block border-2 border-black rounded-md p-2 lg:py-24 w-1/3 mx-1 md:mx-4 flex justify-center">
            <img src="/transitional-house.svg" class="lg:h-24"/>
        </a>
        <a href="/education/" class="border-2 border-black rounded-md p-2 lg:py-24 w-1/3 ml-1 md:ml-4 flex justify-center">
            <img src="/education.svg" class="lg:h-24"/>
        </a>
    </div>
    <div class="grid grid-cols-2 gap-16 mb-16">
    <div>
      <h2 class="text-center">support us</h2>
      <section class="w-full px-4 text-left mx-auto lg:max-w-2xl">
        <p>If your company identifies with the aims of Project Safe Refuge contact us to receive information
            about becoming our patron or sponsoring partner:
</p>
        <div class="block flex justify-center mt-4">
          <a href="mailto:support@saferefuge.pl" class="p-2 px-6 border-2 border-black rounded-xl">support@saferefuge.pl</a>
        </div>
      </section>
    </div>
    <div>
      <h2 class="text-center">contact us</h2>
      <section class="w-full px-4 text-left mx-auto lg:max-w-2xl">
        <p>To discuss further questions and receive additional information contact the Project Safe Refuge communication team:</p>
        <div class="block flex justify-center mt-4">
          <a href="mailto:contact@saferefuge.pl" class="p-2 px-6 border-2 border-black rounded-xl">contact@saferefuge.pl</a>
        </div>
      </section>
    </div>
  </div>
    <!-- TODO: add rotating slider -->
</main>

{{ end }}
