{{ define "main" }}
<main class="mx-8 text-justify">
    <div class="flex justify-between">
        <div class="border-2 border-black rounded-md py-24 w-1/3 mr-4 flex justify-center">
            <img src="/adaptive-reuse.svg"class="h-24" />
        </div>
        <div class="border-2 border-black rounded-md py-24 w-1/3 mx-4 flex justify-center">
            <img src="/transitional-house.svg"class="h-24" />
        </div>
        <div class="border-2 border-black rounded-md py-24 w-1/3 ml-4 flex justify-center">
            <img src="/education.svg"class="h-24" />
        </div>
    </div>
    <section>
        <h2>About us</h2>
        <p>The initiative brings together designers committed to proposing systemic solutions in response to the war in
            Ukraine and the humanitarian crisis in the countries receiving refugees, particularly in Poland. In the
            first week of our operation, 30 architects, professionals, researchers and graduate students from 15
            countries joined forces to address long-term consequences of the war. We believe the group has a great
            potential to grow and connect internationally volunteers from the field of design in a common effort in this
            critical moment, in which collaboration is crucial.</p>
    </section>
    <section>
        <h2>Our mission</h2>
        <p>In a crisis situation, an immediate response is necessary but strategic ideas and long-term vision are of no
            less importance. Our goal is to provide valuable designer assistance to European cities which face serious
            challenges related to the fastest-growing refugee crisis since World War II. At the moment, we decided to
            focus our efforts on two main projects: a modular temporary housing unit, developed through participatory
            processes, in consideration of the community needs and demands of the Ukrainian climate; and a database of
            vacant buildings and strategies for their adaptation to housing and related functions in Poland and
            neighboring countries. We want to support the cities in establishing safe and sustainable communities
            through research-based solutions, which learn from mistakes and good practices of projects implemented
            elsewhere in the world.</p>
    </section>

    <!-- TODO: add rotating slider -->
</main>

{{ end }}
